
.cant {
border: 1px solid;
background:#333;
width:1000px;
margin: auto;
padding:10px;
text-align:center;
 
-moz-border-radius:7px;
-webkit-border-radius:7px;
 border-radius:7px;
}
.div2 {
border: 1px solid;
background:#333;
width:400px;
margin: auto;
padding:10px;
text-align:center;
 
-moz-border-radius:7px;
-webkit-border-radius:7px;
 border-radius:7px;
}


.cent {
    width: 1000px;
    margin: auto;
    padding: 10px;
    text-align: center;
     
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
      border-radius:7px;
}